<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
    <head>
        <th:block th:include="include/commons :: meta"/>
        <title>Index</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-6 offset-3">
                    <h3>Spring Security OAuth</h3>
                    <a th:href="@{/login/oauth/authorization/authorization-server}">Legacy Authorization Server</a>
                    <hr/>
                    <h3>Spring Authorization Server</h3>
                    <a th:href="@{/login/oauth/authorization/authorization-server}">Spring Authorization Server</a>
                    <hr/>
                    <h3>Github</h3>
                    <a th:href="@{/login/oauth/authorization/github}">Custom Github</a>
                    <br/>
                    <a th:href="@{/oauth/authorization/github}">Github</a>
                    <hr/>
                    <a th:href="@{/home}">Home</a>
                    <hr/>
                    <a th:href="@{/logout}">Logout</a>
                    <hr/>
                    <button class="btn btn-primary" onclick="getUser()">User</button>
                </div>
            </div>
        </div>
        <th:block th:include="include/commons :: js"/>
        <script>
            function getUser() {
                $.get("/user");
            }
        </script>
    </body>
</html>
