<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
    <head>
        <th:block th:include="include/commons :: meta"/>
        <title>Index</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-6 offset-3">
                    <h3>Spring Security OAuth</h3>
                    <a href="/login/oauth2/authorization/webapp"
                       th:href="@{/login/oauth2/authorization/authorization-server}">Webapp OAuth</a>
                    <br/>
                    <a href="http://127.0.0.1:8081/oauth/authorize?grant_type=authorization_code">Webapp</a>
                    <a href="http://127.0.0.1:8081/authorize?grant_type=authorization_code">Webapp</a>
                    With Webapp: <a href="http://127.0.0.1:8081/oauth2/authorization/webapp">click here</a>
                    With GitHub: <a href="http://127.0.0.1:8081/oauth2/authorization/github">click here</a>
                    <h3>Spring Authorization Server</h3>
                    <a href="/logout">Logout</a>
                    <br/
                    <a href="/home">Home</a>
                </div>
            </div>
        </div>
        <th:block th:include="include/commons :: js"/>
    </body>
</html>
