<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:include="include/commons :: meta"/>
    <title>Index</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <a href="/logout">Logout</a>
            <br/>
            <a href="/home">Home</a>
        </div>
    </div>
</div>
<th:block th:include="include/commons :: js"/>
<script type="text/javascript">
    var webSocket = null;
    var webSocketClient = null;
    $(function () {
        webSocket = new SockJS('http://localhost:8080/web-socket');
        var webSocketClient = Stomp.over(webSocket);
        webSocketClient.connect({}, function () {
            webSocketClient.subscribe('/message', function (message) {
                console.log(message);
            });
        });
    });
</script>
</body>
</html>
